<main class = "container">
    <section class = "jumbotron">
      {{#each blogs}}
      <article>
        <div id= "{{id}}" class="card">
          
        </div>
      </article>
    </section>
</main>